<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

	<form id="form1">
		<label for="fname">Nomor pasien:</label>
		<input type="text" id="nomor" name="nomor"><br>
		
		<label for="fname">Nama pasien:</label>
		<input type="text" id="nama" name="nama"><br>
		
		<label for="fname">Gender pasien:</label> 
		<input type="radio"value="Pria">
		<label for="html">Pria</label>
		<inputtype="radio" value="Wanita">
		<label for="css">Wanita</label><br>
		
		<label for="fname">Kategori pasien:</label>
		<select id="kategori" name="kategori">
    	<option value="bpjs">BPJS</option>
    	<option value="asuransi">Asuransi</option>
    	<option value="pribadi">Pribadi</option>
  		</select><br>
		
		<labelfor="fname">Biaya pasien:</label>
		<input type="text" id="nama"name="nama"><br>
		
		<label for="fname">TanggalLahir:</label>
		<input type="date" id="nama" name="nama"><br>
		
		<input type="submit" value="Submit">
		<input type="submit"value="Reset">
	</form>
</body>
</html>