
	<form>
		<div class="form-group" id="form-add">
			<label for="exampleInputEmail1">Nama Mahasiswa</label>
			<input type="text" class="form-control" id="exampleInputEmail1" placeholder="Masukkan nama mahasiswa">
		</div>
		<div class="form-group">
			<label for="exampleInputEmail1">Jurusan Mahasiswa</label>
			<input type="text" class="form-control" id="exampleInputEmail1" placeholder="Masukkan jurusan mahasiswa">
		</div>
		<button type="submit" class="btn btn-primary">Add</button>
	</form>